@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P',cursive;
  background: #191d27;
  color: #FFF;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 30px;
  text-align: center;
}

.title{
  color:#2ecc71;
}

.close{
  
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  margin: 20px 20px;
}
#btn-close{
  color: #e74c3c;
}